// product-card-style

.checkboxInput {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.25rem !important;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

// .checkboxInput:checked {
//   background-color: var(--bs-secondary);
//   border-color: var(--bs-primary);
// }

.checkboxInput:focus {
  box-shadow: none;
}

.colorDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  transition: 0.2s;

  &.active {
    border: 1px solid white;

    &::after {
      content: '✔';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.ellipsis {
  width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

////

@media (max-width: 767.98px) {
  .mobileProductCard {
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  .imageTitleWrapMb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding-inline: 1rem;

    .card-title {
      font-size: 1rem;
      margin: 0;
    }

    .badge {
      font-size: 0.75rem;
    }
  }

  .productImage {
    width: 80px;
    height: auto;
  }

  .contentAreaMb {
    padding-inline: 1rem;
  }

  .priceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

// 沒用到樣式
// .cardSelect {
//   appearance: none;
//   // border: 1px solid var(--main-color);
//   border-radius: 0.25rem;
//   padding: 4px 8px 4px 8px;
//   background: var(--title-linear);
//   color: var(--main-text);
//   font-size: 1rem;

//   &:focus {
//     outline: none;
//     border-color: var(--main-color);
//     box-shadow: none;
//   }
// }

@media (max-width: 767.98px) {
  .mobileProductCard {
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    gap: 0.5rem;
  }

  .productImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .checkboxInput {
    margin-top: 0.5rem;
  }

  .text-subtext {
    color: #999;
  }

  .badge {
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
    border-radius: 0.5rem;
  }

  .form-select-sm {
    font-size: 0.75rem;
  }
}
