.path-link {
  color: var(--sub-element);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.08rem;
  padding: 3px 5px;
  width: 100%;
  white-space: nowrap;
  position: relative;
  &:hover {
    color: #777777;
  }
}
.bread-container {
  padding: 18px 36px;
  max-width: 400px;
  overflow: hidden;
  /* &::after {
    content: '';
    background-image: linear-gradient(to right, #ffffff00 80%, #fff);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  } */
}
