.path-link {
  color: var(--sub-element);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.08rem;
  padding: 3px 5px;
  &:hover {
    color: #777777;
  }
}
.bread-container {
  padding: 18px 36px;
}
