.orderSummary {
  position: sticky;
  top: 6rem;
  padding: 16px;

  button.btn-primary {
    width: 100%;
    font-size: 1rem;
    display: block;
    margin-left: auto;
  }
}

.ellipsis {
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.divider {
  height: 1px;
  background: #858585;
  border-radius: 999px;
}

.customSelect {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ff7a59;
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 14px;
  color: #333;
  width: 50%;
  transition: border-color 0.5s ease;

  &:focus {
    border-color: #e95420;
    outline: none;
    box-shadow: 0 0 0 2px rgba(233, 84, 32, 0.2);
  }
}

.customSelect option:disabled {
  color: #bbb;
  cursor: not-allowed;
  background-color: #f0f0f0;
  font-style: italic;
}

// @media (max-width: 991.98px) {
//   .orderSummary {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     top: auto;
//     z-index: 10;
//     background: var(--white);
//     padding: 24px;

//     h5 {
//       font-size: 1.25rem; // 約 20px
//     }

//     h4 {
//       font-size: 1.5rem; // 約 24px
//     }

//     p,
//     i {
//       font-size: 1rem; // 16px（保持可讀）
//     }

//     .mb-3 {
//       margin-bottom: 1.25rem !important;
//     }

//     button.btn-primary {
//       width: 100%;
//       max-width: 280px;
//       font-size: 1.125rem; // 約 18px
//       margin: 0 auto;
//     }
//   }
// }
