.product-body {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  gap: 32px;
}

.product-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .product-card-container {
    /*background: #000;*/
    display: flex;
    justify-content: center;
  }
}

