.product-body {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  gap: 32px;
}

.infinite-scroll-layout {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 18px;
  padding: 20px;
  justify-content: center;
  .product-card-container {
    /*background: #000;*/
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  .infinite-scroll-layout {
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .infinite-scroll-layout {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .infinite-scroll-layout {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .infinite-scroll-layout {
    padding: 10px;
  }
}

.infinite-scroll-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  color: #b6b6b6;
  font-weight: 600;
}

.infinite-scroll-end {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  color: #b6b6b6;
  font-weight: 600;
}

.productlist {
  width: 100%;
  min-height: 100vh;
}

/* .loading-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.no-product-container {
  /*background: #ffffff;*/
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 18px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /*min-height: 300px;*/
  /*gap: 1.5rem;*/
  min-height: 100vh;
}
.no-product-message {
  font-size: 26px;
  color: #ad8282;
}
.no-products-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-products-image {
  object-fit: contain;
}
