.left-floating-bar {
  position: fixed;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 80px;
  padding: 0.5rem;
  background-color: #f7f7f7;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 980;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}

.floating-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-title {
  font-size: 0.8rem;
  font-weight: 400;
  color: #918989;
  margin-bottom: 0.3rem;
}

.floating-thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.6s;
}
.floating-thumb:hover {
  width: 60px;
  height: 60px;
}

.share-btn {
  font-size: 16px;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  border: none;
  cursor: pointer;
  transition: all 0.6s;
}

@media (max-width: 768px) {
  .left-floating-bar {
    display: none;
  }
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #cf7474;
  transition: color 0.2s;
}

.icon-btn:hover {
  color: #9f4343;
}
