.card-glass-linear {
  max-width: 420px;
  margin-inline: auto;
  border-radius: 12px;
  border: 2px solid var(--, rgba(255, 255, 255, 0.5));
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0.9) 0%,
    rgba(245, 245, 245, 0.9) 100%
  );

  /* 漸層玻璃卡片 */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.login-panel {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
  padding-block: 3rem;
  margin-bottom: 3rem;
  a {
    color: var(--sub-color);
  }
  a:hover {
    color: var(--strong-color);
  }
}
.login-form {
  width: 100%;
  gap: 1.5rem;
  label {
    color: var(--sub-text);
    font-size: 1.25rem;
  }
}
.login-input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline: 1rem;
}
.login-title {
  color: var(--sub-color);
}
.gray-line {
  flex-grow: 1;
  height: 1px;
  background: var(--sub-element);
}
.login-main-page-btn-container {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  .to-main-page-btn {
    padding-inline: 2px;
    background-color: transparent;
    border: 0;
    /* border-bottom: 1px solid var(--sub-color); */
    color: var(--sub-color);
    letter-spacing: 0.05rem;
    &:hover {
      color: var(--strong-color);
    }
  }
}
