// 電影票造型
.couponCart {
  width: 300px;
  height: 130px;
  position: relative;

  background:
    radial-gradient(circle at 100px top, #fff, #fff 10px, transparent 11px),
    radial-gradient(circle at 100px bottom, #fff, #fff 10px, transparent 11px);
  background-color: #d0c4c4;

  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(50, 50, 50, 0.2));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  margin: 0 8px;

  &.selected {
    border: 2px solid rgb(165, 8, 8);
  }

  &.disabled {
    background-color: #d0c4c44e;
    filter: grayscale(1);
  }
}

// 截角動畫
@keyframes tearEffect {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 90% 0, 85% 20%, 100% 40%, 100% 100%, 0 100%);
  }
}
.tearAnimation {
  animation: tearEffect 0.1s ease-in-out forwards;
}
.selected {
  clip-path: polygon(0 0, 90% 0, 85% 20%, 100% 40%, 100% 100%, 0 100%);
  opacity: 1;
}

.brandLogo {
  width: 60px;
  margin-right: 10px;
}

.circleBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #343232;
  border: none;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    background-color: #99999900;
    cursor: not-allowed;
  }
}

.active {
  background-color: #000;

  .checkIcon {
    color: #fff;
    font-size: 14px;
  }
}

.checkIcon {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease;
}

.active .checkIcon {
  opacity: 1;
  transform: scale(1);
}

.warningIcon {
  position: absolute;
  top: 2.4rem;
  right: 1.5rem;
  z-index: 10;
  opacity: 1 !important; // 不想吃到 disabled 的 opacity
}
