.comment-cat {
  margin-bottom: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

.cat-card {
  /*height: 130px;*/
  height: 140px;
  min-width: 120px;
  /*width: 800px;*/
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #efefef;
  padding: 1rem 1.5rem;
  /*margin-bottom: 1rem;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.cat-head {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  color: #868686;
}

.user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.username-cat {
  font-weight: bold;
  font-size: 1rem;
}

.star-box {
  display: flex;
}

.cat-body {
  margin-top: 0.5rem;
  font-size: 16px;
  color: #c27373;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  line-height: 1.4;
}
