.header-module .promo-banner {
  height: 30px;
  display: flex;
  color: white;
  font-size: 1rem;
  background: #fc9186;
  backdrop-filter: blur(35px);
}

.header-body {
  height: 80px;
  background: var(--color-linear);
  backdrop-filter: blur(35px);
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
}
.header-body .title {
  font-family: 'Plaster', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: white;
}
.header-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  li {
    padding-inline: 10px;
    padding-block: 6px;
    color: white;
    cursor: pointer;
  }
}
.header-body .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-body .icons button {
  position: relative;
  display: block;
  height: 40px;
  aspect-ratio: 1/1;
  background: transparent;
  outline: 0;
  border: 0;
  margin-inline: 0.5rem;
}
.header-body .icons .cart-icon div {
  content: '2';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: var(--main-color);
  padding: 3px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-body .icons button i {
  color: white;
  font-size: 30px;
}
