.chat-container {
  padding-left: 28px;
  @media screen and (max-width: 992px) {
    padding-left: 0px;
  }
}
.sub-nav-container {
  flex: 0 0 auto !important;
}
.my-container {
  height: calc(100vh - 104px);
}

.friend-avatar {
  height: 44px;
  border-radius: 100%;
}
.friend-info {
  min-width: 0;
}

.chat-main {
  input {
    bottom: 16px;
    left: 24px;
    right: 24px;
    &:focus-visible {
      outline: 0px solid #fff;
    }
  }
}
.chat-main-avatar {
  width: 36px;
}
.chat-main-header {
  height: 52px;
}

.chat-list,
.chat-room {
  height: calc(100vh - 124px);
}
.chat-list-header {
  left: 0;
  right: 0;
}
.chat-list-items-block {
  height: calc(100vh - 124px - 52px);
  top: 52px;
  left: 0;
  right: 0;
}

.chat-list-item {
  &:hover {
    background-color: var(--bg-gray-article);
  }
}

/* chat-room */
.chat-main-return {
  background-color: #ffffff00;
  &:hover {
    background-color: var(--hover-light-gray);
  }
  &:focus {
    background-color: var(--hover-gray);
  }
}

.chat-main {
  .chat-main-header {
    left: 0;
    right: 0;
  }

  .message {
    min-width: 0;
    max-width: 400px;
    width: auto;
  }
}

.chat-list-avas-0 {
  translate: 15px 12px;
  /* border: 5px solid white; */
  border-radius: 100%;
  z-index: 1;
  margin-left: -20px;
}

.chat-list-avas-1 {
  translate: -10px -5px;
  /* border: 5px solid white; */
  border-radius: 100%;
  margin-right: -10px;
}

.chat-room-avas-0 {
  translate: 15px 8px;
  scale: 0.8;
  /* border: 5px solid white; */
  border-radius: 100%;
  z-index: 1;
  margin-left: -20px;
}
.chat-room-avas-1 {
  translate: -5px -5px;
  scale: 0.8;
  /* border: 5px solid white; */
  border-radius: 100%;
  margin-right: -10px;
}
