.product-card-add-cart-btn {
  border: none;
  outline: none;
  background: none;
  color: var(--main-color);
}
.product-card-add-cart-btn:hover {
  color: #c77469;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.product-card-product_card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 349px;
  width: 230px;
  padding: 6px 10px;
  border-radius: 24px;
  overflow: hidden;
  /* box-shadow: 0 -1px 0 #ffffff; */
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}
.product-card-product_card:hover {
  cursor: pointer;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  /*background: #f1f1f1;*/
  /* border-radius: 8px; */
}

.product-card-head-top {
  display: flex;
  opacity: 0;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 4px 10px;
  transition: all 0.3s;
  justify-content: space-between;
}

.product-card-product_card-info:hover {
  background: #ffffff;
}

.product-card-product_card-img {
  transition: transform 0.6s ease-in-out;
  transform-origin: center center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.product-card-product_card-img .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 100%;
  object-fit: contain;
}

.product-card-product_card-head {
  position: relative;
}

.product-card-hover-add-cart {
  opacity: 0;
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  background-color: rgba(243, 243, 243, 0.01);
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 10px 0 10px 0;
  backdrop-filter: blur(2px);
}
.product-card-hover-add-cart a {
  text-decoration: none;
  color: #585252;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.1s;
}
.product-card-hover-add-cart:hover a {
  color: #fd7061;
}

.product-card-star-box {
  text-align: center;
}
.product-card-star-box .product-card-star {
  color: #bebebe;
  vertical-align: middle;
}
.product-card-star-box .product-card-star-active {
  color: #fd7061;
}

.product-card-rating {
  display: flex;
  align-items: center;
  gap: 6px;
}
.product-card-rating .product-card-rating_text {
  padding: 6px 0 0 0;
  font-size: 13px;
  font-weight: 300;
  color: #858585;
}

.product-card-rating-mobile {
  display: none;
}

.product-card-product_card:hover .product-card-hover-add-cart {
  opacity: 1;
}

.product-card-product_card:hover .product-card-head-top {
  opacity: 1;
}

.product-card-product_card:hover .product-card-product_card-img {
  transform: scale(1.06);
}

.product-card-product_card-info {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3px;
  height: 100%;
  flex-grow: 1;
}

.product-card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.product-card-product_details {
  display: flex;
  flex-direction: column;
}
.product-card-product_details .product-card-brand {
  font-size: 14px;
  font-weight: 300;
  color: #373737;
}
.product-card-product_details .product-card-product_name {
  font-size: 16px;
  font-weight: 500;
  color: #373737;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  min-height: 48px;
}

.product-card-price {
  display: flex;
  /*flex-direction: column;*/
  gap: 8px;
}
.product-card-price-box {
  display: flex;
  align-items: center;
}
.product-card-price-box .product-card-main-price {
  font-size: 20px;
  font-weight: 500;
  color: #fd7061;
}
.product-card-price-box .product-card-basic-price {
  font-size: 16px;
  font-weight: 400;
  color: #d2d2d2;
}

.product-card-tag {
  background-image: linear-gradient(
    45deg,
    hsl(194deg 34% 73%) 0%,
    hsl(200deg 41% 74%) 8%,
    hsl(207deg 46% 76%) 17%,
    hsl(215deg 48% 78%) 25%,
    hsl(227deg 47% 80%) 33%,
    hsl(247deg 42% 82%) 42%,
    hsl(271deg 40% 80%) 50%,
    hsl(298deg 35% 78%) 58%,
    hsl(322deg 50% 79%) 67%,
    hsl(337deg 67% 81%) 75%,
    hsl(349deg 80% 82%) 83%,
    hsl(360deg 87% 82%) 92%,
    hsl(10deg 88% 80%) 100%
  );
  border-radius: 15px;
  font-size: 12px;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
}

.image-container {
  position: relative;
  width: 100%;
  padding: 20px;
}

/* 骨架 */
.skeleton-image {
  width: 100%;
  padding-top: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}

.card-img {
  position: absolute;
  top: 0;
  /*left: 0;*/
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.hidden {
  opacity: 0;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

@media (max-width: 1400px) {
  .product-card-product_card {
    height: 470px;
    width: 300px;
  }

  .product-card-product_card-info {
  }
  .product-card-product_card-info .product-card-brand {
    font-size: 16px;
  }
  .product-card-product_card-info .product-card-product_name {
    font-size: 18px;
  }

  .product-card-rating-desktop {
    display: none;
  }
  .product-card-rating-mobile {
    display: flex;
  }
  .product-card-head-top {
    width: 100%;
    justify-content: flex-end;
  }
}
