body {
  background-color: var(--bg-gray);
}
.container-user {
  padding-top: 3.5rem;
  min-height: calc(100vh - 300px);
}
.margin-top-minus {
  /* login, register,forget-password */
  margin-top: -80px;
}
.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 60px;
  padding: 1.5rem 2.5rem;
  /* background & card */ /* 漸層玻璃卡片 */
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 32px;
  /* title */
  h3 {
    font-weight: 500;
  }
  a {
    color: var(--string-color);
  }
}
