.register-input-block {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-inline: 1rem;
  &.user-error {
    > input::placeholder {
      color: var(--strong-color);
    }
  }
  label {
    display: block;
    width: 100px;
    font-size: 1rem;
    color: var(--main-text);
    font-weight: 500;
  }
}
.regiTitle {
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 2rem;
}
.regiIntro {
  font-size: 1.2rem;
  line-height: 2rem;
}
.user-star {
  color: var(--strong-color);
}
