body {
  background-color: #f6f3f1;
  margin-top: -80px;
}
aside {
  background-color: #f8f4f2;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}
/* header */
.header-container {
  background: linear-gradient(to right, #fff, #fef6f5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.hamburger {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sidebar */
.submenu {
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  max-height: 0;
  transition:
    transform 0.25s ease,
    opacity 0.25s ease,
    max-height 0.25s ease;
}

.submenu.open {
  transform: scaleY(1);
  opacity: 1;
  max-height: 200px;
}

/* active 狀態樣式 */
.nav-link {
  padding: 0.375rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  background-color: transparent;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #333;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 600;
  color: #e1575d;
  background-color: rgba(255, 114, 114, 0.15);
  border-left: 4px solid #e1575d;
  padding-left: 0.75rem;
}
/* mobile 漢堡收合專用 */
.sidebar-slide {
  transition: transform 0.3s ease;
  transform: translateX(0);
}
.sidebar-slide.closing {
  transform: translateX(-100%);
}

/* arrow */
.toggle-icon {
  transition: transform 0.3s ease;
}
.toggle-icon.rotate {
  transform: rotate(90deg);
}

/* footer */
footer {
  font-size: 0.8rem;
}
/* main */
main {
  min-height: calc(100vh - 113px);
}
/* btn */
.btn-toggle {
  /* font-weight: 600; */
  font-size: 1.05rem;
  color: #444;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
.btn-toggle:hover {
  background-color: rgba(255, 114, 114, 0.08);
  color: #e1575d;
}

.btn-toggle-nav a {
  padding-left: 1rem;
  color: #333;
}
