node_modules
.env
.vercel
.env*.local
# images
/public/images

# misc
.DS_Store
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.temp
/seeds-tmp
/sessions
/package-lock.json
/config/development.json
.env.local-nouse
/testing
