.accordionBody {
  padding: 1.5rem 1.5rem 0 1.5rem !important;
}

// === 共用 Mixin ===
@mixin card-shadow($card-border-radius) {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.couponShadow {
  @include card-shadow(0.5rem);
}
.accordionButton {
  font-weight: bold;
  box-shadow: none;
  color: #fff;

  // 展開狀態
  &:not(.collapsed) {
    background: var(--coupon-linear);
    color: #fff;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background: var(--coupon-linear) !important;
  }
}
