.course-card-animate {
  animation: fadeInUp 0.4s ease;
}
.course-card {
  border-radius: 24px !important;
  overflow: hidden;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 15px;
}
/* ---------- 愛心 icon ---------- */
.heart-icon-course {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.heart-icon-course i {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.heart-icon-course i.active {
  color: var(--main-color);
}

.heart-icon-course i.animate-pop {
  animation: heart-pop 0.4s ease;
}

@keyframes heart-pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* ---------- 卡片內容樣式 ---------- */
.card-teacher-course {
  color: #8c8c8c;
}

.card-text-price {
  font-size: 14px;
  text-decoration: line-through;
}

/* ---------- 圖片放大效果 ---------- */
.card-img-container-course {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-img-top-course {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  object-position: center;
  display: block;
}

/* ---------- 圖片放大 ---------- */
.card-hover-course {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-hover-course:hover .card-img-top-course {
  transform: scale(1.05);
}

.card-hover-course:hover .heart-icon-course {
  opacity: 1;
}
/* ---------- experience-tag按鈕樣式 ---------- */
.experience-tag {
  padding: 2px 10px;
  background-color: #faf3ff;
  color: #c183fa;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.experience-tag:focus,
.experience-tag:active,
.experience-tag:hover,
.experience-tag:visited {
  background-color: #faf3ff !important;
  color: #c183fa !important;
}
.card-title-box {
  height: 3em; /* 約兩行文字的高度，依字體大小可微調 */
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示兩行 */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.experience-card-body {
  padding: 24px 22px;
  .card-title {
    font-size: 18px;
    color: #474747;
    font-weight: 500;
  }
  .experience-money {
    h5 {
      color: var(--main-color);
      font-weight: 600 !important;
    }
    p {
      color: #d2d2d2;
    }
  }
}
