/* .regiBlock {
  @media (max-width: 460) {
    margin-inline: -40px;
  }
} */
.register-input-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-inline: 1rem;
  position: relative;
  .error-message {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    color: var(--strong-color);
  }
  &.user-error {
    input {
      border-color: var(--strong-color);
    }
    .error-message {
      display: block;
    }
    > input::placeholder {
      color: var(--strong-color);
    }
  }
  label {
    display: block;
    width: 100px;
    font-size: 1rem;
    color: var(--main-text);
    font-weight: 500;
  }
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: start;
    .error-message {
      top: 100px;
      left: 0;
    }
  }
}
.regiTitle {
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 2rem;
}
.regiIntro {
  font-size: 1.2rem;
  line-height: 2rem;
}
.user-star {
  color: var(--strong-color);
}
