/* ==== 商品 ====  */
.header-search-item.for-product {
  /* 標題 */
  .search-item-title {
    width: 150px;
    height: 1.5rem;
    overflow: hidden;
  }
  /* 圖片外框 */
  .search-item-img {
    width: 60px;
    aspect-ratio: 1 / 1;
  }
  /* 商品價格 */
  .search-item-price {
  }
  /* 商品品牌 */
  .search-item-brand {
  }
}

