/* ==== 商品 ====  */
.search-item-title-p {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 1.4 !important;
  max-height: calc(1.4em * 2) !important;
  word-break: break-word !important;
}
.header-search-item.for-product {
  /* 標題 */
  .search-item-title {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    line-height: 1.4 !important;
    max-height: calc(1.4em * 2) !important;
    word-break: break-word !important;
  }
}
.header-search-item {
  transition: all 0.6s;
}
.header-search-item:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.276);
}
