.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem 2.5rem;
  /* background & card */ /* 漸層玻璃卡片 */
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 32px;
  /* title */
  h3 {
    font-weight: 500;
  }
  a {
    color: var(--string-color);
  }
}
.user-form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  &.user-error span {
    text-align: end;
    color: var(--strong-color);
  }
  &.user-error input {
    border-color: var(--strong-color);
  }
  label {
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
    font-size: 1rem;
    font-weight: 500;
  }
  .user-input-box {
    min-height: 2.5rem;
    > input,
    select {
      width: 100%;
      height: 100%;
      line-height: 2.5rem;
    }
  }
  .user-radio-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    > div {
      flex: 1, 0, 0;
    }
    label {
      min-width: 93px;
    }
    input {
      margin-right: 0.5rem;
    }
  }

  .passEye {
    position: absolute;
    right: 1rem;
    top: 3.2rem;
    background: transparent;
    border: 0;
    color: var(--sub-text);
  }
}
.bottom-line {
  width: 95%;
  margin-inline: auto;
  height: 1px;
  background: var(--sub-text);
}
