:root {
  --white: #fbfbfb;
  --main-color: #fd7061;
  --sub-color: #fa8e83;
  --strong-color: #fd4f3c;
  /* text style */
  --sub-element: #bebebe;
  --main-text: #373737;
  --sub-text: #858585;
  --bg-gray: #fafafa;
  /* linear style */
  --btn-bg: linear-gradient(180deg, #fd7061 0%, #ff8679 46.15%, #fd7061 100%);
  --btn-bg-hover: linear-gradient(
    180deg,
    #ff6251 0%,
    #e96f62 46.15%,
    #fd7061 100%
  );
  --color-linear: linear-gradient(180deg, #e78c82 0%, #f1aca4 100%);
  --bar-linear: linear-gradient(270deg, #bebebe 0%, #fa8e83 100%);
  --title-linear: linear-gradient(90deg, #fa8e83 0%, #fff 100%);
  --coupon-linear: linear-gradient(90deg, #fa8e83 0%, #fecac4 100%);
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: var(--main-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}
h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
h3 {
  font-weight: 600;
  font-size: 2rem;
}
h4 {
  font-weight: 600;
  font-size: 1.5rem;
}
h5 {
  font-weight: 600;
  font-size: 1.25rem;
}
h6 {
  font-weight: 600;
  font-size: 1rem;
}
input[type='text'] {
  border: 1px solid var(--sub-element);
  border-radius: 5px;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
}
input[type='text']:focus {
  outline: 2px solid var(--sub-element);
}
.card-style {
  border-radius: 15px;
  border: 2px solid rgba(185, 185, 185, 0.15);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  /* 漸層玻璃卡片 */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
.title {
  font-family: 'Plaster', system-ui;
  font-weight: 400;
  font-style: normal;
}
