// custom-checkbox.scss
.form-check-input[type='checkbox'] {
  border-radius: 0px;
  box-shadow: none;
}
// 使用自訂 class，也可以用原生 bs 類別覆蓋 .form-check-input
.form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0px;
  border: 2px solid #bebebe;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  position: relative;
  appearance: none;
  cursor: pointer;

  &:hover {
    border-radius: none;

    border-color: #505050;
    background-color: rgba(185, 185, 185, 0.05);
  }

  &:checked {
    border-radius: 0px;

    background-color: #505050;
    border-color: #505050;
    // background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M13.485 1.929a.75.75 0 0 1 0 1.06L6.56 9.915 3.03 6.384a.75.75 0 1 1 1.06-1.06l2.47 2.47 6.364-6.364a.75.75 0 0 1 1.06 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  &:focus {
    border-radius: 0px;
    border-color: #505050;
    outline: none;
    box-shadow: none;
  }
}
